.container {
    background-color: #f6f6f6;
}

.container :global(.adm-card) {
    border-radius: .28rem;
}

.swiper {
    height: 6rem;
}

.swiper :global(.adm-swiper) {
    height: 100%;
}

.swiper img {
    width: 100%;
    height: 100%;
}

.icon {
    position: fixed;
    top: 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
    line-height: .6rem;
    text-align: center;
    border-radius: .6rem;
    color: #fff;
    background: #666666b5;
    font-size: .4rem;
}

.space {
    width: 100%;
    padding: .18rem 0;
}

.price {
    color: red;
    font-size: .4rem;
}

.star {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .2rem;
}

.star :global(.antd-mobile-icon),
.selectContainer :global(.antd-mobile-icon) {
    font-size: .4rem;
}

.popupBody {
    height: 80vh;
    padding: .3rem;
    box-sizing: border-box;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.popupBody img {
    width: 2rem;
    height: 2rem;
}

:global(.adm-capsule-tabs-tab-active) {
    background-color: red;
}

.stepper {
    margin: .3rem;
    display: flex;
    justify-content: space-between;
}

:global(.adm-rate) {
    --star-size: .3rem;
    --active-color: red;
    --inactive-color: #33333352
}

.iconTitle {
    margin-left: .2rem;
    margin-bottom: .2rem;
}

.iconTitle::before {
    content: '';
    display: inline-block;
    width: .3em;
    height: .8em;
    background-color: red;
    margin-right: .08rem;
}