:root:root {
    --adm-color-primary: #1677ff;

    --adm-font-size-main: .28rem;

    --adm-color-light: #1677ff;
}

html,
body,
#root {
    height: 100%;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    margin: 0;
}

.adm-search-bar {
    --height: .6rem;
    --border-radius: .6rem;
    max-width: 100%;
    flex: 1 1;
    padding: 0 .15rem;
}

.adm-nav-bar-title {
    width: 5.2rem;
}

.adm-nav-bar-left {
    width: 0.3rem;
}

.adm-search-bar .antd-mobile-icon {
    font-size: .3rem;
}

.adm-search-bar .adm-search-bar-input-box .adm-search-bar-input .adm-input-element {
    font-size: .2rem;
}

.adm-index-bar-sticky .adm-index-bar-anchor-title {
    height: .5rem;
    font-size: var(--adm-font-size-main)
}

.content {
    position: relative;
    width: 100%;
    height: calc(100% - .9rem);
    top: .9rem;
    overflow: auto;
}

.adm-divider,
.adm-infinite-scroll,
.adm-cascader-view-header-title .adm-popover-menu-item-icon,
.adm-toast-mask .adm-toast-main,
.adm-capsule-tabs-tab,
.adm-cascader-header-title,
.adm-cascader-header-button, 
.adm-cascader-view-item {
    font-size: var(--adm-font-size-main) !important;
}

/*取消页面滚动条*/
::-webkit-scrollbar {
    width: 0;
}

.adm-tag {
    margin: .08rem;
    color: #686868;
    background-color: #f0f2f5;
    padding: .15rem;
    border-radius: .12rem;
    font-size: inherit;
}

.adm-toast-mask .adm-toast-mask-icon .adm-toast-icon {
    font-size: .6rem;
}

.adm-toast-mask .adm-toast-mask-icon {
    padding: .35rem .8rem;
}

.footer {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
}

.content .adm-list-item-content-arrow {
    color: initial;
}

.content .adm-radio {
    --icon-size: .3rem;
}

.content .adm-input {
    --font-size: .28rem;
    --color: var(--adm-color-text);
    --placeholder-color: #cebebe;
}

.adm-cascader-views-tabs.adm-tabs,
.adm-tabs {
    --title-font-size: .28rem;
}

.adm-cascader-view-header-title {
    font-size: .28rem;
    max-width: inherit !important;
}

.adm-form-item-label {
    font-size: .28rem;
}

.adm-list-item-content-extra {
    font-size: .4rem;
}