.filterContainer {
    display: flex;
    align-items: center;
}

.filterContainer :global(.adm-dropdown) {
    flex: 2;
}

.filterTitle {
    flex: 1;
}

.filterContainer :global(.adm-dropdown-item .adm-dropdown-item-title),
.filterContainer :global(.adm-dropdown-item .adm-dropdown-item-title-arrow),
.content :global(.adm-selector) {
    font-size: inherit;
}

.content :global(.adm-selector) {
    background-color: #fff;
    padding: .2rem;
}

.content h4 {
    padding: .2rem;
    background-color: #fff;
    margin-bottom: .15rem;
}